<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.shashwat.rcp.jobs.sample.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.shashwat.rcp.jobs.sample.Perspective"
            id="com.shashwat.rcp.jobs.sample.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress View"
            restorable="true">
      </view>
      <view
            class="com.shashwat.rcp.jobs.sample.com.shashwat.rcp.jobs.sample.navigator.FileView"
            id="com.shashwat.rcp.jobs.sample.fileview"
            name="File Navigator View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.shashwat.rcp.jobs.sample.com.shashwat.rcp.jobs.sample.navigator.ContentProvider"
            id="com.shashwat.rcp.jobs.sample.fileview.navigatorContent"
            labelProvider="com.shashwat.rcp.jobs.sample.com.shashwat.rcp.jobs.sample.navigator.LabelProvider"
            name="navigatorContent">
         <triggerPoints>
            <instanceof
                  value="com.shashwat.rcp.jobs.sample.com.shashwat.rcp.jobs.sample.navigator.model.NavigatorRoot">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId=" com.shashwat.rcp.jobs.sample.fileview">
      </viewer>
      <viewerContentBinding
            viewerId=" com.shashwat.rcp.jobs.sample.fileview">
         <includes>
            <contentExtension
                  pattern="com.shashwat.rcp.jobs.sample.fileview.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
